body {
    background-color: aquamarine;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 26px;
    font-weight: 700;
    
    color: black;
}